body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(4, 184, 204);
  background: linear-gradient(
    32deg,
    rgba(4, 184, 204, 1) 0%,
    rgba(1, 114, 240, 1) 82%,
    rgba(1, 148, 254, 1) 100%
  )fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',

    monospace;
    
}
